.item-details {
  max-width: 700px;
  margin: 50px auto 0 auto;
  @media (max-width: 767px) {
    margin: 0 auto;
  }
  .item-image {
    img {
      width: 100%;
      object-fit: cover;
    }
  }

  &-list-info {
    list-style-type: square;
    color: @grey;
    li {
      margin-bottom: 10px;
    }
  }
}

.braft-table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

.braft-table td,
.braft-table th {
  border: 1px solid #ddd;
  padding: 8px;
}

.braft-table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: green;
  color: white;
}
